<div ng-show="osmdocCat.features || osmdocCat.groups">
	<div class="selected-type poi-filters" ng-repeat="g in osmdocCat.groups">
		<span ng-click="removeSelected(g, 'groups');" 
			class="round-button">&times;</span><span ng-bind="name2Group[g]['title']"></span>
	</div>
	<div class="selected-type poi-filters" ng-repeat="f in osmdocCat.features">
		<span ng-click="removeSelected(f, 'features');" 
			class="round-button">&times;</span><span ng-bind="name2FClass[f]['translated_title']"></span>
	</div>
	<div class="tag-filters">
		<div ng-repeat="(key, values) in poi_subfilters">
			<span ng-bind="key"></span>:&nbsp;<span 
				ng-repeat="val in values">
					<input type="checkbox"></input> 
					<span ng-bind="val"></span> 
				</span>
		</div>
	</div>
</div>