<div ng-show="osmdocCat.features.length > 0 || osmdocCat.groups.length > 0">
	<div class="selected-type poi-filters" ng-repeat="g in osmdocCat.groups">
		<span ng-click="removeSelected(g, 'groups');" 
			class="round-button">&times;</span><span ng-bind="name2Group[g]['title']"></span>
	</div>
	<div class="selected-type poi-filters" ng-repeat="f in osmdocCat.features">
		<span ng-click="removeSelected(f, 'features');" 
			class="round-button">&times;</span><span ng-bind="name2FClass[f]['translated_title']"></span>
	</div>
	<div class="tag-filters">
		<div ng-repeat="key in poi_subfilters._ordered_keys" class="poi-filter">
			<span class="tag-filter-title" ng-bind="poi_subfilters[key].title"></span>
			<span ng-if="poi_subfilters[key].type == 'WORKING_HOURS'">
				<input type="checkbox" ng-model="activePoiFilters['opening_hours']['24_7']"></input>
			</span> 
			<span ng-if="poi_subfilters[key].type == 'BOOLEAN'">
				<input type="checkbox" ng-model="activePoiFilters[key]"></input>
			</span> 
			<span ng-if="poi_subfilters[key].type != 'BOOLEAN' && poi_subfilters[key].type != 'WORKING_HOURS'">:&nbsp;</span>
			<span ng-if="poi_subfilters[key].type != 'GROUP_TRAIT'" 
				ng-repeat="opt in poi_subfilters[key].options">
					<span ng-bind="opt.valueTitle" class="val-option"></span> 
					<input class="val-option-checkbox" type="checkbox" 
						ng-model="activePoiFilters[key][opt.valueKey]"></input> 
			</span>
			<span ng-if="poi_subfilters[key].type == 'GROUP_TRAIT'" 
				ng-repeat="opt in poi_subfilters[key].options">
					<span ng-bind="opt.valueTitle" class="val-option"></span> 
					<input class="val-option-checkbox" type="checkbox" 
						ng-model="activePoiFilters[opt.valueKey]"></input> 
			</span>
		</div>
	</div>
</div>