<div>
	<button id="mob-menu-button" ng-switch="!!searchResultsPage.features" 
		ng-click="searchForm.showSlider = !searchForm.showSlider;" >
		<img id="search-img" ng-switch-when="false"
			src="{{HTML_ROOT + '/img/menu48.png'}}" ></img>
		<img id="search-img" ng-switch-when="true"
			src="{{HTML_ROOT + '/img/menu48g.png'}}" ></img>
	</button>	
	<form id="search-form">
		<input id="serch-input" class="field ui-autocomplete-input ui-widget" 
			type="search" placeholder="{{translation['map.js.input.search.placeholder']}}" 
			autofocus="" autocomplete="off" name="q" ng-model="searchForm.q"
			ng-enter="searchInputEnter();"
			ng-keydown="searchKeyDown($event);">
	</form>
</div>

<div id="m-m-slider" ng-show="searchForm.showSlider" >
	<div id="links">
		<a href="javascript:void(0);" ng-bind="translation['map.catalog']" ng-click="showCatalog = !showCatalog"></a>
		<a href="{{HTML_ROOT}}/{{lng}}/about.html" ng-bind="translation['map.aboutus']"></a>
		<a href="{{HTML_ROOT}}/blog/" ng-bind="translation['map.blog']"></a>
		<!-- <a href="javascript:void(0);" ng-bind="translation['map.note']"></a> -->
		
		<span id="languages">
			<a ng-repeat="l in langsAvaible | filter: '!' + lng" href="{{mergeIntoPath('lang', l)}}" ng-bind="l"></a>
		</span>
	</div>
	<div id="browserGeocode" ng-show="!!browserGeoLocation">
		<div>
			<span ng-bind="translation['map.youAreHere']"></span>
			<span ng-bind="browserGeoLocation.text"></span>
			<a class="button browserGeocode-button" ng-bind="translation['map.youAreHere.move']" 
				ng-click="moveToBrowserGeoLocation(browserGeoLocation); browserGeoLocation = null;"></a>
			<div class="button" ng-click="browserGeoLocation = null;">
				<a class="browserGeocode-button" ng-bind="translation['map.youAreHere.hide']" 
					ng-click="browserGeoLocation = null;"></a>
			</div>	
		</div>
	</div>
	<div ng-include="'templates/cathegories.html'"></div>
	<div id="r-scroll-pane" class="y-scroll" ng-style="{'max-height': (windowHeight - windowHeight * 0.15) + 'px'}" me-resize >
		<div id="serch-types" ng-show="searchResultsPage.matched_type">
			<ul>
				<li ng-repeat="f in searchResultsPage.matched_type" 
					ng-class="{'suggested': f.name == selectedSuggestion}" 
					class="search-result" >
					<input type="checkbox" ng-model="f.selected" ng-change=""></input>
					<span class="title" ng-show="f.translated_title" ng-click="">{{f.translated_title[0]}}</span>
				</li>
			</ul>
		</div>
		<div id="catalog" ng-show="!searchResultsPage.features && showCatalog">
			<ul id="cathegories-tree">
				<li ng-repeat="data in hierarchy.groups" ng-include="'PoiTreeItem.html'" ></li>
			</ul>
		</div>
		<div id="search-results" ng-show="searchResultsPage.features">
			<div>
				<a id="close-search-results" ng-click="$broadcast('CloseSearchResults');" 
					ng-bind="translation['map.js.search.result.close']"></a>
				<div style="clear: both;"></div>	
			</div>
			<ul>
				<li ng-repeat="f in searchResultsPage.features" 
					ng-class="{'selected': f.feature_id == activeFeatureID, 'suggested': f.feature_id == selectedSuggestion}" 
					class="search-result" ng-click="selectRow(f); $broadcast('CloseSearchResults');"
				</li>	
			</ul>
			<div>
				<span>{{translation['map.js.search.result.pages']}}</span>
				<span class="page-number" ng-class="{current:pn.active}" 
					ng-repeat="pn in srPages" ng-click="goPage(pn)">{{pn.p}}</span>
			</div>
		</div>
		<div id="inverse-geocode-results" ng-show="inverseGeocodeResults" 
			ng-include="HTML_ROOT + 'templates/nameAndTitle.html'"/>	
		<div ng-include="HTML_ROOT + 'templates/igeocode.html'" 
			id="inverse-geocode-results" ng-show="inverseGeocodeResults"/>
	</div>
</div>

<script type="text/ng-template"  id="PoiTreeItem.html">
	<input type="checkbox" ng-model="data.selected" ng-change="selectCathegory(data, 'groups')"></input>
	<a ng-click="expand(data);" ng-show="(data.groups.length!=0 || data.features.length!=0)" >
		<img class="expand" src="{{HTML_ROOT}}/img/expanded.png" ng-show="data.expanded"></img>
		<img class="expand" src="{{HTML_ROOT}}/img/expand.png" ng-show="!data.expanded"></img>
	</a>
    <a ng-click="expand(data);" 
		ng-class="{'not-empty':(data.groups.length!=0 || data.features.length!=0)}">
		{{data.title}}
	</a>
    <ul ng-show="data.expanded">
        <li ng-repeat="data in data.groups"			 
			ng-include="'PoiTreeItem.html'"></li>
		<li class="feature" ng-repeat="feature in data.features">
			<input type="checkbox" ng-model="feature.selected" ng-change="selectCathegory(feature, 'features');"></input>
			<a ng-click="feature.selected = !!!feature.selected; selectCathegory(feature, 'features');">{{feature.translated_title}}</a>
		</li>
    </ul>
</script>